.App {
    text-align: center;
    align-items: center;
    color: white;
    font-size: calc(10px + 2vmin);
}

.App-header {
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}